#notice_wrapper{
    top: 0;
    width: 100%;
    z-index: 99999;
    .app_alert, .app_notice{
      padding: 0.6em 0;text-align: center;margin: 0;font-size: 1.2em;font-weight: 700;color: #FFFFFF;letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
  .my_alert{
    background: rgba(241, 148, 138, 0.8);border-style: solid;border-color: #A93226;
  }
  .my_notice{
    background: rgba(48, 110, 255, 0.8);border-style: solid;border-color: #2B65EC;
  }
  /*flash*/
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
  h4{font-size: 1.1em;}
  p{font-size: 0.8em;}
}
.alert-error h4{
 font-size: 1.1em;
}
.alert-error p{
font-size: 0.8em;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}
